[View in Colaboratory](https://colab.research.google.com/github/apoorvaagarwall/Amex_analyze_this/blob/master/Untitled1.ipynb)

In [0]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv("/content/drive/My Drive/Training_dataset_Original.csv")

In [0]:
df.replace("missing", -100, inplace=True)

In [0]:
df.replace("na", -1000, inplace=True)

In [0]:
for i in range(6,21):
    s= "mvar"
    s+= str(i)
    df[s]= df[s].astype(str).astype(int)
    
    
for i in range(25,33):
    s= "mvar"
    s+= str(i)
    df[s]= df[s].astype(str).astype(int)
    
    
for i in range(34,40):
    s= "mvar"
    s+= str(i)
    df[s]= df[s].astype(str).astype(int)
    
for i in range(40,47):
    s= "mvar"
    s+= str(i)
    df[s]= df[s].astype(str).astype(float)
    
df["mvar1"]= df["mvar1"].astype(str).astype(int)

In [0]:
df.replace(-100, np.nan, inplace=True)
df.replace(-1000, np.nan, inplace=True)

In [0]:
from sklearn.preprocessing import LabelEncoder
LE= LabelEncoder();
df["mvar47"]=LE.fit_transform(df["mvar47"].values)

In [29]:
print(df.isnull().sum().sort_values(ascending=False))
tot= df.isnull().sum()

mvar40             62557
mvar31             56218
mvar41             54578
mvar45             44855
mvar11             44819
mvar23             40248
mvar30             36417
mvar35             33014
mvar15             32067
mvar22             29124
mvar46             22789
mvar21             22561
mvar6              18964
mvar8              18964
mvar24             18902
mvar16             18510
mvar17             15846
mvar18             14771
mvar12             14078
mvar27             13209
mvar9              11408
mvar26             10610
mvar13              8352
mvar44              7745
mvar37              7706
mvar32              7706
mvar25              7706
mvar7               7394
mvar39              6040
mvar2               5553
mvar1               3639
mvar36              2898
mvar42              1901
mvar33              1751
mvar43               818
mvar20               502
mvar34               502
mvar29               502
mvar28               502
mvar38               502
mvar10               502
mvar5                501
mvar3                501
mvar4                501
mvar19                 4
default_ind            0
mvar14                 0
mvar47                 0
application_key        0
dtype: int64

In [14]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading https://files.pythonhosted.org/packages/c4/9f/d69d4078abb84c8c6e21923bd76059129add7928e2786e6add8d812eb9fb/fancyimpute-0.4.0.tar.gz
Requirement already satisfied: six in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (1.11.0)
Collecting knnimpute (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/e8/35/e9ab006430d36aed71f623db8d194a723a14d40b52b3405cdd5b94d9de04/knnimpute-0.1.0.tar.gz
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (1.14.6)
Requirement already satisfied: scipy in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (0.19.1)
Collecting cvxpy>=1.0.6 (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/79/06/cc0553f250eef7160a364b561b451b40954308d1520e6bb055b8c6ac144a/cvxpy-1.0.8.tar.gz (900kB)
    100% |████████████████████████████████| 901kB 8.5MB/s
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (0.19.2)
Requirement already satisfied: keras>=2.0.0 in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (2.1.6)
Collecting np_utils (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/f2/6c/22469923361a70b62e5b14c96f0d2b0e386dce9d7f567187a02f26a7cb40/np_utils-0.5.5.2.tar.gz (59kB)
    100% |████████████████████████████████| 61kB 20.7MB/s
Requirement already satisfied: tensorflow in /usr/local/lib/python2.7/dist-packages (from fancyimpute) (1.11.0rc2)
Collecting osqp (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/3f/1d/4e967bf3af322f7e27faebb00ef51dbe6a349b0766cda6154367e0105f3c/osqp-0.4.1-cp27-cp27mu-manylinux1_x86_64.whl (147kB)
    100% |████████████████████████████████| 153kB 11.8MB/s
Collecting ecos>=2 (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/b6/b4/988b15513b13e8ea2eac65e97d84221ac515a735a93f046e2a2a3d7863fc/ecos-2.0.5.tar.gz (114kB)
    100% |████████████████████████████████| 122kB 18.6MB/s
Collecting scs>=1.1.3 (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/b3/fd/6e01c4f4a69fcc6c3db130ba55572089e78e77ea8c0921a679f9da1ec04c/scs-2.0.2.tar.gz (133kB)
    100% |████████████████████████████████| 143kB 10.7MB/s
Collecting multiprocess (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/7a/ee/b9bf3e171f936743758ef924622d8dd00516c5532b00a1210a09bce68325/multiprocess-0.70.6.1.tar.gz (1.4MB)
    100% |████████████████████████████████| 1.4MB 11.2MB/s
Collecting fastcache (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/fb/98/93f2d36738868e8dd5a8dbfc918169b24658f63e5fa041fe000c22ae4f8b/fastcache-1.0.2.tar.gz
Requirement already satisfied: toolz in /usr/local/lib/python2.7/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.9.0)
Requirement already satisfied: h5py in /usr/local/lib/python2.7/dist-packages (from keras>=2.0.0->fancyimpute) (2.8.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python2.7/dist-packages (from keras>=2.0.0->fancyimpute) (3.13)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python2.7/dist-packages (from np_utils->fancyimpute) (0.16.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.15.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (3.6.1)
Requirement already satisfied: enum34>=1.1.6 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.1.6)
Requirement already satisfied: mock>=2.0.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (2.0.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: absl-py>=0.1.6 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (0.5.0)
Requirement already satisfied: wheel in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (0.31.1)
Requirement already satisfied: keras-preprocessing>=1.0.3 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.0.3)
Requirement already satisfied: keras-applications>=1.0.5 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.0.5)
Requirement already satisfied: tensorboard<1.11.0,>=1.10.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.10.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: backports.weakref>=1.0rc1 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (1.0.post1)
Requirement already satisfied: setuptools<=39.1.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (39.1.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python2.7/dist-packages (from tensorflow->fancyimpute) (0.7.1)
Requirement already satisfied: dill>=0.2.8.1 in /usr/local/lib/python2.7/dist-packages (from multiprocess->cvxpy>=1.0.6->fancyimpute) (0.2.8.2)
Requirement already satisfied: futures>=2.2.0 in /usr/local/lib/python2.7/dist-packages (from grpcio>=1.8.6->tensorflow->fancyimpute) (3.2.0)
Requirement already satisfied: funcsigs>=1; python_version < "3.3" in /usr/local/lib/python2.7/dist-packages (from mock>=2.0.0->tensorflow->fancyimpute) (1.0.2)
Requirement already satisfied: pbr>=0.11 in /usr/local/lib/python2.7/dist-packages (from mock>=2.0.0->tensorflow->fancyimpute) (4.2.0)
Requirement already satisfied: werkzeug>=0.11.10 in /usr/local/lib/python2.7/dist-packages (from tensorboard<1.11.0,>=1.10.0->tensorflow->fancyimpute) (0.14.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python2.7/dist-packages (from tensorboard<1.11.0,>=1.10.0->tensorflow->fancyimpute) (3.0.1)
Building wheels for collected packages: fancyimpute, knnimpute, cvxpy, np-utils, ecos, scs, multiprocess, fastcache
  Running setup.py bdist_wheel for fancyimpute ... - done
  Stored in directory: /root/.cache/pip/wheels/9d/a6/78/ccd4c1d13026cc3a401ec7ce76e9916037d6a84bb70f054fb7
  Running setup.py bdist_wheel for knnimpute ... - done
  Stored in directory: /root/.cache/pip/wheels/a3/92/31/c3f8864714e9938396c3a68d8c542531f7e2d7862bb750b2e3
  Running setup.py bdist_wheel for cvxpy ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
  Stored in directory: /root/.cache/pip/wheels/10/e3/64/e65da213c6af18e1fd78d51482236a85207ff25962146e302f
  Running setup.py bdist_wheel for np-utils ... - done
  Stored in directory: /root/.cache/pip/wheels/f6/2f/39/57e6dd40ac49b4824c1b4430aea787b3397a4a3f389ec56dfb
  Running setup.py bdist_wheel for ecos ... - \ | / - \ | / - \ | / - \ | / - \ | / - done
  Stored in directory: /root/.cache/pip/wheels/50/91/1b/568de3c087b3399b03d130e71b1fd048ec072c45f72b6b6e9a
  Running setup.py bdist_wheel for scs ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
  Stored in directory: /root/.cache/pip/wheels/ff/f0/aa/530ccd478d7d9900b4e9ef5bc5a39e895ce110bed3d3ac653e
  Running setup.py bdist_wheel for multiprocess ... - \ | / - done
  Stored in directory: /root/.cache/pip/wheels/8b/36/e5/96614ab62baf927e9bc06889ea794a8e87552b84bb6bf65e3e
  Running setup.py bdist_wheel for fastcache ... - \ done
  Stored in directory: /root/.cache/pip/wheels/b7/90/c0/da92ac52d188d9ebca577044e89a14d0e6ff333c1bcd1ebc14
Successfully built fancyimpute knnimpute cvxpy np-utils ecos scs multiprocess fastcache
Installing collected packages: knnimpute, osqp, ecos, scs, multiprocess, fastcache, cvxpy, np-utils, fancyimpute
Successfully installed cvxpy-1.0.8 ecos-2.0.5 fancyimpute-0.4.0 fastcache-1.0.2 knnimpute-0.1.0 multiprocess-0.70.6.1 np-utils-0.5.5.2 osqp-0.4.1 scs-2.0.2

In [0]:
train_df= df.drop(["application_key", "default_ind"], axis=1)

In [31]:
train_df.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,1696.0,1.6541,0.000,0.0,0.0,0.0,6015.0,322.0,40369.0,18414.0,...,4.0,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0
1,1846.0,0.8095,0.000,0.0,0.0,102.0,7532.0,3171.0,18234.0,13664.0,...,2.0,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1
2,1745.0,0.4001,0.000,0.0,0.0,NaN,2536.0,NaN,NaN,2536.0,...,1.0,0.0,NaN,29.290,0.00000,1.0,1.00000,NaN,0.0,0
3,1739.0,0.2193,0.000,0.0,0.0,1982.0,26440.0,4955.0,20316.0,37013.0,...,2.0,0.0,96.272,NaN,0.15385,3.0,0.53241,0.0,0.0,1
4,1787.0,0.0118,0.225,0.0,0.0,5451.0,5494.0,5494.0,7987.0,4696.0,...,2.0,0.0,115.019,NaN,0.00000,1.0,0.92665,NaN,NaN,1

In [0]:
from fancyimpute import IterativeImputer

In [0]:
train_df_cols= list(train_df)

In [0]:
imputer = IterativeImputer(n_iter=50, sample_posterior=True, random_state=123)

In [37]:
imputer.fit(train_df)

IterativeImputer(_max_value=nan, _min_value=nan, fill_method='zero', imputation_order='ascending', initial_strategy='mean', max_value=None, min_value=None, missing_values=nan, n_features_with_missing_=45, n_iter=50, n_nearest_features=None, normalizer=None, predictor=None, random_state=123, sample_posterior=True, verbose=False)

In [0]:
X_filled_ii = imputer.transform(train_df)

In [0]:
X= pd.DataFrame(X_filled_ii)

In [0]:
X.columns= train_df_cols

In [45]:
X.head()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
0,1696.0,1.6541,0.000,0.0,0.0,0.0000,6015.0,322.00000,40369.000000,18414.0,...,4.0,1.0,73.780000,82.547000,0.08696,10.0,0.63899,-0.114472,0.000000,0.0
1,1846.0,0.8095,0.000,0.0,0.0,102.0000,7532.0,3171.00000,18234.000000,13664.0,...,2.0,0.0,99.129000,60.199535,0.00000,13.0,0.63836,-0.428812,0.072687,1.0
2,1745.0,0.4001,0.000,0.0,0.0,-3142.7789,2536.0,12664.82889,-17923.803633,2536.0,...,1.0,0.0,97.959154,29.290000,0.00000,1.0,1.00000,0.318693,0.000000,0.0
3,1739.0,0.2193,0.000,0.0,0.0,1982.0000,26440.0,4955.00000,20316.000000,37013.0,...,2.0,0.0,96.272000,53.074877,0.15385,3.0,0.53241,0.000000,0.000000,1.0
4,1787.0,0.0118,0.225,0.0,0.0,5451.0000,5494.0,5494.00000,7987.000000,4696.0,...,2.0,0.0,115.019000,73.581590,0.00000,1.0,0.92665,-0.046191,0.092353,1.0

In [0]:
df2=pd.concat([X, df.iloc[:,-1]], axis=1)

In [52]:
df2.head(2)

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,1696.0,1.6541,0.0,0.0,0.0,0.0,6015.0,322.0,40369.0,18414.0,...,1.0,73.780,82.547000,0.08696,10.0,0.63899,-0.114472,0.000000,0.0,0
1,1846.0,0.8095,0.0,0.0,0.0,102.0,7532.0,3171.0,18234.0,13664.0,...,0.0,99.129,60.199535,0.00000,13.0,0.63836,-0.428812,0.072687,1.0,1

In [53]:
df.head(2)

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696.0,1.6541,0.0,0.0,0.0,0.0,6015.0,322.0,40369.0,...,1.0,73.780,82.547,0.08696,10.0,0.63899,NaN,0.0,0,0
1,230033,1846.0,0.8095,0.0,0.0,0.0,102.0,7532.0,3171.0,18234.0,...,0.0,99.129,NaN,0.00000,13.0,0.63836,NaN,NaN,1,1

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.utils import resample

In [0]:
train ,test= train_test_split(df2, test_size=0.3)

In [58]:
train_maj= train[train.default_ind==0]
train_min= train[train.default_ind==1]


print "majority : " + str(train_maj.shape)
print "minority : " + str(train_min.shape)

majority : (42193, 48)
minority : (13807, 48)

In [0]:
train_majority_downsampled = resample(train_maj, 
                                 replace=False,    
                                 n_samples=20000,     
                                 random_state=123)
train_minority_upsampled = resample(train_min, 
                                 replace=True,    
                                 n_samples=16000,     
                                 random_state=123)

In [60]:
df3= pd.concat([train_majority_downsampled, train_minority_upsampled])
df3.shape

(36000, 48)

In [0]:

X_train= df3.iloc[:, :-1]
Y_train= df3.iloc[:, -1]
X_test= test.iloc[:, :-1]
Y_test= test.iloc[:, -1]

In [0]:
from xgboost import XGBClassifier

In [0]:

xgb = XGBClassifier(n_estimators=100, max_depth=3, objective="binary:logistic", learning_rate=0.1)

In [64]:
xgb.fit(X_train, Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [65]:
y_pred= xgb.predict(X_test)

/usr/local/lib/python2.7/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [0]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [67]:
confusion_matrix(y_pred, Y_test)

array([[14073,  1636],
       [ 4037,  4254]])

In [68]:
accuracy_score(y_pred, Y_test)

0.763625

In [69]:
f1_score(y_pred, Y_test)

0.5999576898667232